<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="./courses/prism.js"></script>
    <script src="./courses/create_course.js"></script>
    <script src="./sketch.js"></script>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./courses/prism.css">
    <link rel="stylesheet" href="./courses/create_course.css">
</head>

<body style="margin-left: 3%;">
    <%- include('header.ejs') %>
    
    <div style="height: 630px;">
        <textarea placeholder="Enter Course Creation Text" id="editing" spellcheck="false"
            oninput="update(this.value); sync_scroll(this);" onscroll="sync_scroll(this);"
            onkeydown="check_tab(this, event);"></textarea>
        <pre id="highlighting" aria-hidden="true">
            <code class="language-course" id="highlighting-content"></code>
        </pre>
    </div>

    <button class="button large-button hover-anim" onclick="convertTextToHTML()">Convert HTML</button>
</body>

</html>