<button class="button large-button hover-anim" onclick="location.href='/'">Home</button>
<button class="button large-button hover-anim"
    onclick="document.cookie='jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC;'; location.reload()">Logout</button>
<hr style="transform: translateX(-3%) scaleX(106.5%);">