<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--secondary-color);
  }

  .space {
    height: 12vh;
  }

  .nav__links a {
    color: var(--background-color);
  }

  .nav__links a,
  .nav__button {
    text-decoration: none;
  }

  .nav__links {
    list-style: none;
    display: flex;
  }

  .nav__links li {
    padding: 0px 20px;
  }

  .nav__links li a {
    transition: color 0.3s ease 0s;
  }

  .nav__links li a:hover {
    cursor: pointer;
    color: var(--primary-color);
  }

  .nav__button {
    padding: 9px 25px;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .nav__button:hover {
    background-color: var(--primary-color);
  }
</style>
<script>
  function setCookie(cname, value) {
    document.cookie = cname + '=' + value + '; Path=/;';
  }

  function deleteCookie(cname) {
    document.cookie = cname + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }

  function getCookie(cname) {
    let name = cname + "=";
    let ca = document.cookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  const body = document.querySelector("body");

  let isLightMode = getCookie("mode");
  if (isLightMode == "") {
    setCookie("mode", "light");
    isLightMode = true;
  } else if (isLightMode == "light") isLightMode = false;
  else isLightMode = true;

  function changeMode() {
    const changeModeButton = document.getElementById("change-mode");
    const otherModeName = (!isLightMode) ? "light" : "dark";
    const currentModeName = (isLightMode) ? "light" : "dark";

    body.style.setProperty("--text-color", `var(--${otherModeName}-text-color)`);
    body.style.setProperty("--background-color", `var(--${otherModeName}-background-color)`);
    body.style.setProperty("--primary-color", `var(--${otherModeName}-primary-color)`);
    body.style.setProperty("--secondary-color", `var(--${otherModeName}-secondary-color)`);
    body.style.setProperty("--accent-color", `var(--${otherModeName}-accent-color)`);
    body.style.setProperty("--success-color", `var(--${otherModeName}-success-color)`);

    changeModeButton.innerHTML = `${currentModeName} mode`
    setCookie("mode", otherModeName)
    isLightMode = !isLightMode;
  }
</script>
<header>
  <nav>
    <ul class="nav__links">
      <li><a href="./">Courses</a></li>
      <li><a href="./?site=createCourse">Create Course</a></li>
    </ul>
  </nav>
  <div>
    <a class="nav__button" id="change-mode" onclick="changeMode()">Dark Mode</a>
    <a class="nav__button" onclick="deleteCookie('jwt'); location.reload()">Logout</a>
  </div>
</header>
<script>
  changeMode();
</script>
<div class="space"></div>