<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link href="./main.css" rel="stylesheet">
  <title>
    <%= title %> Course Intro
  </title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <h1 style="text-align: center;">Welcome to <%= title %>!</h1>
  <h2 style="text-align: center;">Press <a href="./?site=chapter&id=<%= id %>&chapterNumber=1"
                                           style="text-decoration: underline; color: #254064;">Here</a> to start</h2>
</body>

</html>