<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="./courses/courses.css" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">
    <title>
        <%= title %> Course Intro
    </title>
</head>

<body>
    <h1>Welcome to <%= title %>!</h1>
    <h2>Press here to start →<button class="button small-button hover-anim"
            onclick="location.href='./?site=chapter&id=<%= id %>&chapterNumber=1'">Continue</button></h2>
</body>

</html>