@import url("https://fonts.googleapis.com/css?family=Ubuntu:700|Space Grotesk:400");
body {
	color: var(--text-color);
	background-color: var(--background-color);
	font-family: "Space Grotesk";
	font-weight: 400;

	--light-text-color: #091c39;
	--light-background-color: #bed9e0;
	--light-primary-color: #e5f4ff;
	--light-secondary-color: #272d2f;
	--light-accent-color: #3b3b54;
	--light-sucess-color: #1ab26b;

	--dark-text-color: #d0d9e9;
	--dark-background-color: #33383b;
	--dark-primary-color: #0f1f2b;
	--dark-secondary-color: #29c5eb;
	--dark-accent-color: #cbcbdf;
	--dark-sucess-color: #a1ff8a;

	--text-color: var(--light-text-color);
	--background-color: var(--light-background-color);
	--primary-color: var(--light-primary-color);
	--secondary-color: var(--light-secondary-color);
	--accent-color: var(--light-accent-color);
	--sucess-color: var(--light-sucess-color);
}
h1,
h2,
h3,
h4,
h5 {
	font-family: "Ubuntu";
	font-weight: 700;
}
html {
	font-size: 100%;
} /* 16px */
h1 {
	font-size: 4.21rem; /* 67.36px */
}
h2 {
	font-size: 3.158rem; /* 50.56px */
}
h3 {
	font-size: 2.369rem; /* 37.92px */
}
h4 {
	font-size: 1.777rem; /* 28.48px */
	margin-bottom: 5px;
	margin-top: 5px;
}
h5 {
	font-size: 1.333rem; /* 21.28px */
	margin-bottom: 5px;
}
small {
	font-size: 0.75rem; /* 12px */
}

button {
	margin-left: 10px;
	font-size: medium;
	position: relative;
	background-color: var(--accent-color);
	filter: brightness(0.8);
	color: var(--primary-color);
	border: none;
	border-radius: 5px;
}

#reset-button {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}

#courses-div,
#progress-div {
	width: 100%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin-bottom: 5%;
}

#courses-title {
	margin-bottom: 2%;
}

.course-image-container,
.chapter-image {
	border: 5px solid var(--accent-color);
	border-radius: 9.09%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 20%;
	padding-bottom: 20%;

	transition: border-color 0.5s ease-out;

	&:hover {
		border-color: color-mix(in srgb, var(--accent-color) 80%, black);
		cursor: pointer;
	}
}

.course,
.chapter {
	margin-right: 5%;
	margin-left: 5%;
	padding: 10%;
	border: var(--primary-color) 10px solid;
	border-radius: 15px;
	background-color: var(--primary-color);
	text-align: center;
}

.hover-anim {
	transition: background-color 0.5s ease-out;

	&:hover {
		background-color: #333333;
		cursor: pointer;
	}
}

.large-button {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.small-button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#context-menu {
	background-color: color-mix(in srgb, var(--background-color) 90%, black);
	border: 5px solid color-mix(in srgb, var(--background-color) 90%, black);
	border-radius: 4px;
	padding: 6px;
}

.context-menu-option {
	padding: 2px;
	border: 2px solid color-mix(in srgb, var(--background-color) 90%, black);
	border-radius: 2px;
	display: flex;
}

.context-menu-option:hover {
	border-color: var(--primary-color);
	background-color: var(--primary-color);

	cursor: pointer;
}

.context-menu-option-text {
	padding-left: 5px;
}
