.base-div {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px ;
}

.base-title {
    height: 3vh;
    margin-bottom: 2%;
    font-size: 25px;
}

.course {
    border: #000000 2px solid;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 10%; */
}

#create-course-button:hover {
    color:rgb(0, 0, 0);
    background-color: antiquewhite;
}

#created-div {
    height: 20vh;
}

#progress-div {
    height: 20vh;
}

#courses-div {
    height: 60vh;
}