button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    padding-top: 4px; padding-bottom: 4px;
    padding-left: 7px; padding-right: 7px;
}

.audio-img {
    height: 2vh;
    transform: translate(8px, 4px);
    margin-right: 8px;
}

.chapter-div {
    border: 2px solid black;
    border-radius: 10px;
    margin: 2vh;
    height: 10vh;
}

.chapter-div img {
    height: 9vh;
    margin-left: 5px;
}

.chapter-div > h1 {
    display: none;
}

.chapter-div,
.reset-div,
#main-input {
    margin-left: 20%;
    margin-right: 20%;
}

.div {
    display: none;
    margin-left: 35%;
    margin-right: 35%;
    max-width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

#main-input {
    width: 60%;
    height: 80vh;
    resize: none;
}

#convert-html {
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
    height: 5vh;
}