#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    padding: 0 5px;
    margin: 0 0;
    margin-left: 3%; margin-right: 3%;
    border: 0;
    width: 94%;
    height: 700px;

    outline: none;
    background-color: var(--primary-color);
    border: 20px solid var(--primary-color);
    border-radius: 20px;
}

#editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 1.5;
    tab-size: 4;
}

#editing, #highlighting {
    /* In the same place */
    position: absolute;
    top: 15vh;
    left: 0;
}

/* Move the textarea in front of the result */
#editing {
    z-index: 1;
}
#highlighting {
    z-index: 0;
}

/* Make textarea almost completely transparent */

#editing {
    color: transparent;
    background: transparent;
    caret-color: var(--secondary-color); /* Or choose your favourite color */
}

/* Can be scrolled */
#editing, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing {
    resize: none;
}

code {
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--text-color);
}